# MongoDB Configuration
MONGO_USERNAME=root
MONGO_PASSWORD=rootpassword
MONGO_INITDB_DATABASE=tasks

# Backend Configuration
PORT=3500
MONGO_CONN_STR=mongodb://root:rootpassword@mongodb:27017/tasks?authSource=admin
USE_DB_AUTH=true

# Frontend Configuration
REACT_APP_API_URL=http://localhost:3500
